<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pokémon Store</title>
    <style>pokebola {position: absolute; bottom: 0; right: 0;</style>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" valign="top" bgcolor="#ffffff"
            style="background-color: #838383;"><br> <br>
            <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="top" bgcolor="#ffbc03"
                    <div>
                        <img src="pokemon-logo.png" width="490">
                    </div>
                    <!-- style="background-color: #d3be6c; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #000000; padding: 0px 15px 10px 15px;"> -->

                    <div style="font-size: 48px; color:blue;">
                        <b>PokeStore</b>
                    </div>


                    <div style="font-size: 24px; color: #555100;">
                        <br><b> Olá ${nome}</b></br>
                        <br>Estamos felizes em ter você em nosso sistema :)</br>
                        <br>Seu cadastro foi realizado com sucesso, seu identificador é <b>${id}</b></br>
                        <br>Qualquer dúvida é só contatar o suporte pelo e-mail <b>${email}</b></br>
                        <br>Att,</br>
                        <br>Sistema.</br>
                    </div>
                    <div>
                        <div class="pokebola">
                            <img src="pokebola.png" width="130" align="right">
                        </div>
                        <br>"Sharing the knowledge is biggest learning" <br> <br>
                        <br> <br> <b>${nome}</b>
                        <br>
                    </div>
                    </td>
                </tr>
            </table> <br> <br></td>
    </tr>
</table>
</body>
</html>
