<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PokéStore</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" valign="top" bgcolor="#FFFFFF"
            style="background-color: #FFFFFF;"><br> <br>
            <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="top" bgcolor="#d3be6c"
                        style="padding: 20px; background-color: rgb(50, 135, 192); color: black; font-size: 30px; text-align: center; border-radius: 10px;">

                        <div style="font-size: 48px; color:rgb(241, 253, 71); background-color: rgba(34, 40, 117, 0.445);  border-radius: 10px;">
                            <h1 style="    color: #fdfa3f;
                            text-shadow:
                              0 1px 0px #378ab4,
                              1px 0 0px #5dabcd,
                              1px 2px 1px #378ab4,
                              2px 1px 1px #5dabcd,
                              2px 3px 2px #378ab4,
                              3px 2px 2px #5dabcd,
                              3px 4px 2px #378ab4,
                              4px 3px 3px #5dabcd,
                              4px 5px 3px #378ab4,
                              5px 4px 2px #5dabcd,
                              5px 6px 2px #378ab4,
                              6px 5px 2px #5dabcd,
                              6px 7px 1px #378ab4,
                              7px 6px 1px #5dabcd,
                              7px 8px 0px #378ab4,
                              8px 7px 0px #5dabcd;">PokeStore</h1>
                        </div>

                        <div style="padding: 20px;
                                    background-color: aliceblue;
                                    color: black;
                                    font-size: 24px;
                                    font-weight: 700;">

                            <h2>Olá, ${nome} </h2>

                            <br>Seus dados foram atualizados!</br>
                            <br>Seu dados são: <br>id = {id}</b></br>
                            <br>Seu pix: ${pix}.
                            <br>Seu telefone: ${telefone}.

                        </div>
                        <div style="background-color: rgba(241, 253, 71, 0.726);
                                    color: rgb(0, 0, 0);
                                    text-align: center;
                                    padding: 20px;
                                    font-size: 16px;">

                            <p>Qualquer dúvida é só contatar o suporte pelo <br>e-mail ${email}</p>
                            <p>Att, <br>Sistema.</p>
                        </div>
                    </td>
                </tr>
            </table> <br> <br></td>
    </tr>
</table>
</body>
</html>
